* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
}

html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  width: 100%;
}

#home {
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#header {
  position: relative;
  z-index: 20;
}

#header:after,
#header:before {
  content: "";
  clear: both;
  display: table;
}

#header [class*='col-'] {
  float: left;
  box-sizing: border-box;
  width: 8.3332%;
  /*padding: 0 15px;*/
  margin: 15px 0;
  min-height: 1px;
}

@media (max-width: 600px) {
  #header [class*='col-'] {
    width: 100% !important;
  }
}

#header .col-1 {
  width: 8.3332%;
}

#header .col-2 {
  width: 16.6664%;
}

#header .col-3 {
  width: 24.9996%;
}

#header .col-4 {
  width: 33.3328%;
}

#header .col-5 {
  width: 41.666%;
}

#header .col-6 {
  width: 49.9992%;
}

#header .col-7 {
  width: 58.3324%;
}

#header .col-8 {
  width: 66.6656%;
}

#header .col-9 {
  width: 74.9988%;
}

#header .col-10 {
  width: 83.332%;
}

#header .col-11 {
  width: 91.6652%;
}

#header .col-12 {
  width: 99.9984%;
}

nav {
  font-size: 60px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -225px;
}

nav a:link {
  text-decoration: none;
  color: black;
}

nav a:visited {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:active {
  text-decoration: none;
  color: black;
}

#aboutUs {
  background-color: #d1feff;
  height: 100vh;
  width: 100vw;
}

.titleOnas {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding-top: 150px;
  padding-bottom: 50px;
}

.idCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame,
.frameIza,
.frameLogo {
  background-color: #71b2c0;
  height: 625px;
  width: 450px;
  border-radius: 6% 0 0 6%;
}

.frameIza {
  border-radius: 0 6% 6% 0;
}

.frameLogo {
  width: 500px;
  border-radius: 0;
}

.onasPic,
.onasPicMadzia,
.onasPicIza,
.onasPicLogo {
  height: 500px;
  width: 450px;
  background-size: cover;
}

.onasPicMadzia {
  border-radius: 6% 0 0 0;
}

.onasPicIza {
  border-radius: 0 6% 0 0;
}

.onasPicLogo {
  width: 500px;
  background-position-x: 35%;
}

.smallTittleOnas,
.smallTittleOnasLogo {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-top: 25px;
}

.smallTittleOnasLogo {
  margin-top: 40px;
}

.smallTittleOnasDescript {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.aboutMagda,
.aboutLogo {
  background-color: black;
  color: #71b2c0;
  height: 500px;
  width: 450px;
  z-index: 20;
  font-size: 25px;
  text-align: center;
}

.aboutLogo {
  width: 500px;
}

#howItWorks {
  background-color: #ff7ac2;
  height: 100vh;
  width: 100vw;
}

.colHow {
  display: flex;
}

.howPics {
  height: 483px;
  width: 100%;
  background-size: cover;
}

#offer {
  background-color: #d1feff;
  height: 100vh;
  width: 100vw;
}

.offerRow {
  display: flex;
  padding-top: 100px;
  margin-right: -150px;
  margin-left: -150px;
}

.offerText {
  font-size: 40px;
  font-weight: bold;
  padding-top: 200px;
  text-align: center;
}

.offerPics {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-size: cover;
}

.offerTextEach {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  width: 200px;
}

#gallery {
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.row:after,
.row:before {
  content: "";
  clear: both;
  display: table;
}

.col-3 div {
  float: left;
}

.galleryPic {
  width: 25%;
  height: 483px;
  background-size: cover;
  opacity: 0.7;
}

.galleryPic:hover {
  opacity: 1;
}

.picNames {
  font-size: 60px;
  padding-top: 405px;
  color: deeppink;
  font-weight: bold;
  padding-left: 10px;
}

#contact {
  background-color: #d1feff;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.contactText {
  text-align: center;
  font-size: 23px;
  margin: 100px;
}

.contactTextGirls {
  font-size: 23px;
  margin-top: 200px;
  margin-right: 980px;
  text-align: center;
}

.contactRow {
  display: flex;
}

.contactMagda {
  padding-top: 95px;
}

.contactIza {
  font-size: 34px;
  font-weight: bold;
  padding-top: 95px;
}

#logo {
  height: 200px;
  width: 200px;
  background-size: cover;
}

#foot {
  text-align: center;
  margin-top: 710px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
}

#foot .textBlue {
  color: darkturquoise;
}

#foot .textPink {
  color: deeppink;
}