* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Amatic SC', cursive;
}

html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  width: 100%;
}

#home {
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#header:after,
#header:before {
  content: "";
  clear: both;
  display: table;
}

#header [class*='col-'] {
  float: left;
  box-sizing: border-box;
  width: 8.3332%;
  /*padding: 0 15px;*/
  margin: 15px 0;
  min-height: 1px;
}

@media (max-width: 600px) {
  #header [class*='col-'] {
    width: 100% !important;
  }
}

#header .col-1 {
  width: 8.3332%;
}

#header .col-2 {
  width: 16.6664%;
}

#header .col-3 {
  width: 24.9996%;
}

#header .col-4 {
  width: 33.3328%;
}

#header .col-5 {
  width: 41.666%;
}

#header .col-6 {
  width: 49.9992%;
}

#header .col-7 {
  width: 58.3324%;
}

#header .col-8 {
  width: 66.6656%;
}

#header .col-9 {
  width: 74.9988%;
}

#header .col-10 {
  width: 83.332%;
}

#header .col-11 {
  width: 91.6652%;
}

#header .col-12 {
  width: 99.9984%;
}

nav {
  font-size: 60px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -225px;
}

nav a:link {
  text-decoration: none;
  color: black;
}

nav a:visited {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:active {
  text-decoration: none;
  color: black;
}

#aboutUs {
  background-color: darkturquoise;
  height: 100vh;
  width: 100vw;
}

.idCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-4 div {
  float: left;
}

#howItWorks {
  background-color: deeppink;
  height: 100vh;
  width: 100vw;
}

#offer {
  background-color: darkturquoise;
  height: 100vh;
  width: 100vw;
}

#gallery {
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.col-3 div {
  float: left;
}

.galleryPic {
  width: 25%;
  height: 483px;
  background-size: cover;
}

.galleryPic:hover {
  opacity: 0.5;
}

#contact {
  background-color: darkturquoise;
  height: 100vh;
  width: 100vw;
}

#logo {
  height: 200px;
  width: 200px;
  background-size: cover;
}

#foot {
  text-align: center;
  margin-top: 710px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
}

#foot .textBlue {
  color: darkturquoise;
}

#foot .textPink {
  color: deeppink;
}